.part-1 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  /* flex-direction: column; */
}
.part-1 img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.dis {
  padding-left: 20px;
}
.summary {
  padding: 10px;
}
